<h1>Database:</h1>
<ul>
	<li>Server status: {{{lastStatus}}}</li>
</ul>
<BR>
<ul>
	{{#each table}}
                <li><font color="blue"> <b>{{this.id}}</b></font>, <font color="green">{{this.name}}</font></li>
        {{/each}}
	<BR>
	<BR>
	<button type="button" id="clearButton">Clear</button>
	<script>
		function redirect(){
			window.location="./clear";
		}
		var button = document.getElementById("clearButton");
		button.onclick = redirect;
	</script>
</ul>
